# Email for Zerossl(Require)
ACME_EMAIL=example@gmail.com

# Cloudflare DNS Challenge Setting
CF_Token=qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
CF_Account_ID=qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq

# DNSPOD Global DNS Challenge Setting
DPI_Id=123
DPI_Key=qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq

# Telegram notification setting
TELEGRAM_BOT_APITOKEN="qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq"   
TELEGRAM_BOT_CHATID="333333333"  